*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 320px) and (max-width:900px) {
 
.navbar{

    background-color: #ECEBFC;
    height: 90px;
}

.navbar > *{
padding-top: 30px;
}

.but{
    width: 0;
    height: 0; 
    visibility: hidden;
    
}
.logo img{
    width: 60%;
}
.login-button{
    width: 0;
    height: 0;
    visibility: hidden;
}
.offcanvas-header{
    position: relative;
}

.btn-close{
    position: absolute;
}

.offcanvas-title{
    padding: 0 40px;
}


.offcanvas-title img{
   width: 70%;
}

.navbar-toggler{
    background-color: #ECEBFC;
}

.langchange{
    padding-right: 60px;
}

.dropdown{
    border: 1px solid #A1A1A1;
    border-radius: 5px;
    text-align: center;
}

.hero p{
    width: auto;
    padding-top: 170px;
    color: var(--Black, #15081A);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px; /* 178.571% */
    text-transform: capitalize;
}


.craig{
    width: 100%;
    height: 100%;
    background-image: url(pics/zigzag.png);
    background-size: cover;
    padding: 5px 0;
 

}
.paragraph{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
}

.paragraph p{
    width: 100%;
    color: #A1A1A1;
    padding: 0 12px;
    

text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 200% */

}

.searchmain{
    display: flex;
    padding: 20px 0;
    
}

.searchbar{
    margin:  auto;
    background: white;
    height: З0рх;
    border-radius: 30px;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    transition: 0.8s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}


.searchbar input{
    outline: none;
    border: none;
    width: auto;
}

.searchbar img{
    width: 20px;
    margin: 0 5px;
    opacity: 90%;
}
.twobuttons{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 10px;
}


  .button {
   
    padding: 20px 20px;
    text-align: center;
    color: #6A2983;
    text-decoration: none;
    border-radius: 30px;
    background-color: white;
    border: 1.5px solid #6A2983;
    margin: 5px;
    cursor: pointer;
  }
.button img{
    width: 20px; 
    margin-right: 5px; 
}
.buttontwo{
    padding: 20px 15px;
    text-align: center;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    background-color: #6A2983;
    border-color:#6A2983;
    margin: 5px;
    cursor: pointer;
}

.buttontwo img{
    width: 25px;
}

.communitrule{
    padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
    
    
    
}

.communitrule img{
    height: 5px;
    width: 160px;
    
}


.com{
    color: #6A2983;
    font-size: 22px;
    font-weight: 530;
    font-family: Arial, Helvetica, sans-serif;
}

.general p{
    padding-left: 20px;
    padding-top: 30px;
    color: rgb(159, 159, 159);
    font-size: 19px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-general-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 20px;
}

.card-one{
    display: flex;
    position: relative;
    flex-direction: column;
    border-radius: 11.803px;
    background: var(--Colours-ref-primary-primary98, #FFF7FB);
    box-shadow: 0px 1.475px 7.377px 0px rgba(0, 0, 0, 0.09);
}
.card-one img{
    width: 100%;
}

.card-one h3{
    color: #141015;
    font-size: 18px;
    margin-top: 15px;
    margin-left: 8px;
}

.card-one p{
    font-size: 12px;
    margin-left: 8px;
    color: #625D61;
}
.card-one h4{
    color: #141015;
    font-size: 16px;
    margin-left: 8px;
    padding-bottom: 10px;
}


.star{
    position: absolute;
    width: 30px;
    left: 0%;
    bottom: 48%;
    padding-left: 130px;
 
    object-fit: contain;
    aspect-ratio: 6/1;
    
}

.phone-holder{
    margin-top: 120px;
    background-color: black;
    width: 100%;
    height: 220px;
    text-align: center;
}

.phone-holder img{
    top: -50px;
    position: relative;
    width: 220.02px;
    height: 271.211px;
}

.visibility{
    text-align: center;
    padding-top: 40px;
}
.visibility h1{
color: #6A2983;
font-weight: bold;
font-size: 31.21px;
font-family: Arial, Helvetica, sans-serif;
}

.visibility p{
    color: var(--Colours-ref-neutral-neutral40, #625D61);
    font-size: 14.704px;
}

.visibility button{
    font-size: 17px;
    padding: 20px 25px;
    border-radius: 15px;
    border: none;
    background-color: #E1D4E6;
}

.footerlogo{
    background-color: #F5F5FE;
    margin-top: 50px;
}

.footerlogo img{
    width: 150px;
    margin-top: 50px;
    margin-left: 20px;
}

.footerlinks{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 25px;
    margin-top: 40px;
}

.footerlinks p a{
    text-decoration: none;
    color: black;
    font-size: 14.5px;
    font-style: normal;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
 
}
.mainfooter{
    display: grid;
    background-color: black;
    grid-template-columns: 1fr;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.mainfooter h1{
    margin-top: 25px;
}

.footer{
    margin-top: 25px;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.footer img{
width: 170.8px;
height: 50.4px;
}

.footertags{
    margin-top: 30px;
    display: flex;
    gap: 6px;
    justify-content: center;
}



}
